/*elemek alaphelyzetre állítása 1*/
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html, body {
    font-size:16px;
    scroll-behavior: smooth;
}
ul, ol {
    list-style:none;
}
img {
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    font-size:1em;
    font-weight:normal;
}